@use '../colors.scss';
@import "../responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

p,
a,
h1,
h2,
h3,
label {
  display: block;
  width: fit-content;
  height: fit-content;
  font-weight: 400;
  color: colors.$text-primary;
}

h1 {
}
h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  @include desktop {
    font-size: 18px;
  }
  @include mobile {
    font-size: 14px;
  }
}
label {
  font-size: 16px;
}

a {
  font-size: 18px;
}

a:link,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  color: colors.$text-secondary;
}
