@use '../colors.scss';
@import "./classes.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  max-width: 1000px;

  > .title {
    margin-left: 24px;
    color: colors.$text-secondary;
  }

  > .navigator {
    margin-top: 16px;
  }
}
