@use "../../styles/colors.scss";

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

.project-item {
  padding: 8px 16px;
  @include desktop() {
    padding: 16px 32px;
  }
  position: relative;
  display: flex;
  flex-direction: column;

  > .title {
    font-size: 20px;
    @include desktop() {
      font-size: 28px;
    }
    margin-left: 8px;
    padding: 4px;
    color: colors.$text-primary;
  }
  > .title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  > .link {
    display: block;
    margin-top: 4px;
    color: colors.$text-disabled;
    font-size: 18px;
  }
  > .link:hover {
    text-decoration: underline;
  }

  > .stack-icons {
    @include mobile {
      padding: 4px 0px;
    }
    @include desktop {
      margin-top: 8px;
      align-self: flex-end;
      position: absolute;
    }
  }

  > .description {
    font-size: 14px;
    @include desktop {
      font-size: 18px;
      padding-top: 16px;
      margin-top: 16x;
      margin-left: 4px;
      width: 100%;
    }
  }

  border-bottom: 1px solid colors.$lightgray;
}

// .project-item:hover {
//   @include desktop() {
//     cursor: pointer;
//     background-color: colors.$lightgray;
//   }
// }
.project-item:last-child {
  border-bottom: none;
}
