@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.project-post {
  > h2 {
    margin: 8px 12px;
  }
  > p {
    margin-top: 12px;
    padding: 4px;
    color: colors.$text-secondary;
  }

  > .post {
    width: 100%;
    margin: 32px 8px;
    color: colors.$text-secondary;
    font-size: 24px;

    padding: 16px 32px;
    border: 1px solid colors.$lightgray;
    border-radius: 4px;
  }

  > .post:hover {
    text-decoration: underline;
  }
}
