@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.project-post {
  padding: 8px;
  > h2 {
    margin: 8px 12px;
  }
  > .description {
    margin-top: 12px;
    padding: 4px;
    color: colors.$text-secondary;
    font-size: 16px;
    line-height: 1.8em;
  }

  > .post {
    width: 100%;
    color: colors.$text-secondary;

    margin-top: 20px;
    padding: 16px 32px;
    border: 1px solid colors.$lightgray;
    border-radius: 4px;

    @include mobile() {
      font-size: 18px;
    }
    @include desktop() {
      font-size: 22px;
    }
  }

  > .post:hover {
    text-decoration: underline;
  }
}
