@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.project-list {
  @include mobile() {
    padding: 8px;
    > .project-item {
      margin-top: 12px;
      padding: 12px 16px;
      border: 1px solid colors.$lightgray;
      border-radius: 16px;
    }
    > .project-item:first-child {
      margin-top: 0px;
    }
  }

  @include desktop() {
    > .project-item {
      padding: 12px 8px;
      border-bottom: 1px solid colors.$lightgray;
    }
    > .project-item:first-child {
      padding-top: 0px;
    }
    > .project-item:last-child {
      border-bottom: none;
    }
  }
}
