@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.project-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  > .link {
    display: block;
    color: colors.$text-disabled;

    @include mobile() {
      font-size: 12px;
    }
    @include desktop() {
      font-size: 14px;
    }
  }
  > .link:hover {
    text-decoration: underline;
  }

  > .stack-icons {
    position: absolute;
    align-self: flex-end;

    @include mobile() {
      margin-top: 6px;
    }
    @include desktop() {
      margin-top: 24px;
    }
  }

  > .title {
    font-weight: 500;
    margin-left: 4px;
    color: colors.$text-primary;

    @include mobile() {
      font-size: 22px;
    }
    @include desktop() {
      font-size: 28px;
    }
  }
  > .title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  > .posts {
    color: colors.$text-disabled;
    @include desktop() {
      margin-left: 4px;
      margin-top: 8px;
    }
  }

  > .description {
    color: colors.$text-secondary;

    @include mobile() {
      margin-top: 8px;
    }

    @include desktop() {
      margin-top: 16px;
    }
  }
}
