@use '@styles/colors.scss';

.profile {
  margin-top: 32px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > .profile-image {
    width: 240px;
    height: auto;
    border-radius: 12px;
  }

  > .caption {
    font-size: 12px;
    color: colors.$text-disabled;
    padding: 4px 8px;
  }

  > p {
    padding-top: 16px;
    padding-right: 4px;
  }

  .introduce {
    margin-top: 8px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > label {
      padding: 0px 4px;
      color: colors.$text-disabled;
      font-size: 14px;
    }
  }

  > .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;

    .icon {
      padding: 0px;
    }

    > a,
    label {
      height: min-content;
      font-size: 14px;
      color: colors.$text-secondary;
      padding-bottom: 8px;
    }
  }

  > .sns-icons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }
}
