@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.page {
  width: 100%;

  display: grid;

  @include mobile() {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header"
      "main";
  }

  @include desktop() {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "none header"
      "nav main"
      "nav footer";
  }

  > .header {
    color: colors.$text-secondary;

    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;

    @include mobile() {
      border-bottom: 1px solid colors.$lightgray;
    }

    @include desktop() {
      height: 120px;
    }

    > .blog-title {
      font-size: 28px;
      color: colors.$text-disabled;

      @include mobile() {
        display: none;
      }
    }

    > .page-title {
      color: colors.$text-secondary;
      font-size: 22px;

      @include desktop() {
        margin-top: auto;
        margin-bottom: 8px;
      }
    }

    > .extend-button {
      @include mobile() {
        position: absolute;
        align-self: flex-end;
      }
      @include desktop() {
        display: none;
      }
    }
  }

  > .sidebar {
    width: auto;
    @include mobile() {
      display: none;
      > .profile {
        display: none;
      }
    }

    @include desktop() {
      grid-area: nav;
      margin-right: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      > .close-button {
        display: none;
      }
    }
  }

  > .sidebar.active {
    @include mobile() {
      right: 0;
      position: absolute;
      padding: 8px 16px;
      height: 100%;
      min-width: 150px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: colors.$white;
      border-left: 1px solid colors.$lightgray;

      > .close-button {
        font-size: 14px;
        // padding: 4px 8px;
        padding: 8px 0px;
      }
    }
  }

  > .content {
    grid-area: main;
    width: 100%;
    @include mobile() {
      padding: 12px 8px;
    }
    @include desktop() {
      // padding: px 12px;
      max-width: 1000px;
    }
  }
}
