@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.page {
  width: 100%;

  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header"
    "main";

  @include desktop() {
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "none header side"
      "nav main side"
      "nav footer side";
  }

  > .header {
    grid-area: header;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100px;
    color: colors.$text-secondary;

    margin-left: 8px;
    padding: 8px;

    > .title {
      font-size: 28px;
      color: colors.$text-disabled;
    }

    > .page-title {
      color: colors.$text-secondary;
      font-size: 22px;
      margin-top: auto;
      margin-bottom: 8px;
    }
  }

  > .sidebar {
    display: none;

    @include desktop() {
      display: block;
      grid-area: nav;
      margin-right: 32px;
    }
  }

  > .content {
    grid-area: main;
  }
}
