@use '../../styles/colors.scss';
.navigator {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > .sns-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }

  > .nav-item {
    margin: 4px 12px;
  }
}

.nav-item {
  > a {
    color: colors.$text-disabled;
  }

  > a:hover,
  a.active {
    color: colors.$text-secondary;
  }
}
