@use '../../styles/colors.scss';
.navigator {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > .nav-item {
    margin: 4px 12px;
  }
}

.nav-item {
  > a {
    color: colors.$text-disabled;
  }

  > a:hover,
  a.active {
    color: colors.$text-secondary;
  }
}
