@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.icon {
  padding: 4px;
  > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    @include mobile() {
      width: 20px;
      height: 20px;
    }
  }
}

.stack-icons {
  display: flex;
  flex-direction: row;
}
