@use "@styles/colors.scss";
@import "@styles/responsive.scss";

.icon {
  padding: 4px;
  > img {
    border-radius: 50%;

    @include mobile() {
      width: 18px;
      height: 18px;
    }

    @include desktop() {
      width: 24px;
      height: 24px;
    }
  }
}

.stack-icons {
  display: flex;
  flex-direction: row;
}
